{% extends 'base.html' %}

{% load url from future %}

{% block title %}Password change{% endblock %}

{% block content %}
            <h1>Password change</h1>
            <hr />
            {% if validlink %}
                <form method="post" action=".">
                    {% csrf_token %}
                    {{ form }}
                    <div class="controls">
                        <input type="submit" class="btn btn-large btn-primary" value="Change password" />
                    </div>
                </form>
            {% else %}
                <p>
                    An error happened
                </p>
                <p class="with_margin_top">
                    <a href="{% url 'auth_password_reset' %}" class="btn btn-primary btn-success btn-large">Try again</a>
                </p>
            {% endif %}
{% endblock %}